*{
    margin:0;
    padding:0;
}
body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    background-color: rgb(250, 235, 215);
}
#clockcontainer{
    margin:auto;
    background-color:rgb(113, 153, 144);
    width:40vw;
    height:40vw;
    display:flex;
    align-items:center;
    justify-content:center;
   border-radius:10%;
}
#minute ,#hour,#second{
    position:absolute;
    background:rgb(22, 15, 20);
    border-radius :35%;
}
#hour{
    width:0.5rem;
    height:10%;
    top:40.5%;
    left:49.5%;
}
#minute{
    width:0.5%;
    height:15%;
    top:35.5%;
    opacity:0.5;
    left:49.59%;
}
#second{
    width:0.5%;
    height:10%;
    top:40%;
}
