*{
    margin:0;
    padding:0;
}

#clockcontainer{
    position:relative;
    margin:auto;
    width:40vw;
    height:40vw;
   background:url(clock.png) no-repeat;
   background-size:100%;
  
   
}


#minute ,#hour,#second{
   position:absolute;
    background:rgb(22, 15, 20);
    border-radius :10px;
    transform-origin: bottom;

}
 #hour{
    width:2%;
    height:18%;
    top:32.2%;
    left:49%;
   
   
} 
 #minute{
    width:1%;
    height: 30%;
    top:20%;
    left:49.6%;
    
} 
 #second{
    width:0.5%;
    height:35%;
    top:15%;
    left:49.8%;
       
}   
